#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="range"] {
  appearance: none;
  background: none;
}

.mt {
  margin-top: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid #888888;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #ffffff11;
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.divider {
  border-top: 2px solid #888888;
  margin: 1rem 0;
}

@keyframes loading-ping-pong-1 {
  from {
    mask-position: 0 0, 0 0, 0 0;
  }
  50% {
    mask-position: 9em 0, 0 0, 0 0;
  }
  to {
    mask-position: 0 0, 0 0, 0 0;
  }
}

@keyframes loading-ping-pong-2 {
  from {
    mask-position: 0 0, 0 0, 0 0;
  }
  50% {
    mask-position: 0 0, 8em 0, 0 0;
  }
  to {
    mask-position: 0 0, 0 0, 0 0;
  }
}

@keyframes loading-ping-pong-3 {
  from {
    mask-position: 0 0, 0 0, 0 0;
  }
  50% {
    mask-position: 0 0, 0 0, 8em 0;
  }
  to {
    mask-position: 0 0, 0 0, 0 0;
  }
}

.logo {
  width: 10em;
  height: 10em;
  object-fit: contain;
}

.bars {
  mask: linear-gradient(to right, white 0%, white 10%, black 10%, black 100%)
      luminance,
    linear-gradient(to right, white 0%, white 20%, black 20%, black 100%)
      luminance,
    linear-gradient(to right, white 0%, white 20%, black 20%, black 100%)
      luminance;
  animation: loading-ping-pong-1 2.2s infinite ease-in-out,
    loading-ping-pong-2 3.1s infinite ease-in-out,
    loading-ping-pong-3 4.3s infinite ease-in-out;
  animation-composition: accumulate, accumulate, accumulate;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.spin {
  animation: spin 1s forwards linear infinite;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
